.logo {
  height: 80px;
  width:300px;
  background-image: url(/img/logo3-small.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .logo {
    background-image: url(/img/logo3-small-light.png);
  }
}

.navbar-shrink .logo {
  background-image: url(/img/logo3-small.png);
}

.navbar>.container, .navbar>.container-fluid {
  align-items: baseline;
}